		<header>
						<div class="container">
			
				<a href="{{path('main_index')}}">
					<span id="logo"><i class="fa-solid fa-chess"></i> Ludotek</span>
				</a>

				<nav>
					<ul id="navBar">
						<li><a href="{{path('main_index')}}">Accueil</a></li>
						<li><a href="{{path('game_list')}}">Jeux</a></li>
						<li><a href="{{path('game_form')}}">Créer un jeu</a></li>
						<li><a href="{{path('user_login')}}">Connexion</a></li>
						<li><a href="{{path('user_register')}}">Inscription</a></li>
					</ul>
				</nav>
			</div>
		</header>